/* see app.css */

.param {
  background: linear-gradient(#FFF, #DDD);
  border-radius: 7px;
  padding-left: 5%;
  margin-top: 5px;
  font-size: 0.8em;
  color: #333;
}

.paramTitle {
	font-weight: bold;
	
}

p.paramTitle {
	margin-top: 2px;
	margin-bottom: 4px;
}