/*tabSwitch.css*/

#TabSwitch {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#TabSwitch input[type=radio]{
  position: absolute;
  visibility: hidden;
}

#TabSwitch label{
  /*border: 1px solid #888;*/
  /*background: linear-gradient(#FFF, #EEE);*/
  padding: 6px 5px;
  cursor: pointer;
  flex-grow: 1;
}

input[type=radio]:checked + label {
  /*background-color: #ffe256;*/
  background: linear-gradient(#FFF, #ffe256);
  border: 1px solid #a8953a;
  font-weight: bold;
}

.tabswitchicon {
  width:30px;
}