#appMainContainer {
  display: flex;
  flex-wrap: wrap;
}

#tabs {
  position: relative;
  width: 100%;
  background-color: #FDF;
}

#targetImage {
  position:relative;
  top: 0px;
  left: 0px;
}

#mosaicPreview {
  position:relative;
  top: 0px;
  left: 0px;
}