#appMainContainer {
  display: flex;
  flex-wrap: wrap;
}

#tabs {
  position: relative;
  width: 100%;
  background-color: #FDF;
}

#targetImage {
  position:absolute;
  top: 0px;
  left: 0px;
}

#mosaicPreview {
  position:absolute;
  top: 0px;
  left: 0px;
}

.shownTab {
  display: block;
}

.hiddenTab {
  display: none;
}